                    <!-- END OF CHANGEABLE CONTENT -->
                    <br class="clearfix" />            
                </div> <!-- content --> 
                <div id="sidebar">
                    <h3>Favorite Quotes</h3>
                        <p>I don't exactly know what I mean by that, but I mean it. 
                            <br />- <em>The Catcher in the Rye</em></p>
                        <p>
                            I privately say to you, old friend... please accept from me this unpretentious bouquet of early-blooming parentheses: (((()))).
                            <br />- <em>Raise High the Roof Beam, Carpenters and Seymour: An Introduction</em>
                        </p>
                        <p>
                        <?php
                            // print current date and time
                            date_default_timezone_set('America/New_York');

                            print date('g:i a l F j');
                        ?>
                        </p>
                </div> <!-- sidebar -->
                <br class="clearfix" />
            
            </div> <!-- page -->
        </div> <!-- wrapper -->

        <div id="footer">
            Copyright (c) 2012. All rights reserved. Design by <a href="http://www.freecsstemplates.org/">FCT</a>.
        </div> <!-- footer -->
    </body>
</html>