<?php ob_start(); ?>

<!DOCTYPE html>
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 3.0 License

Name       : Erasure
Description: A two-column, fixed-width design with a dark color scheme.
Version    : 1.0
Released   : 20120205
-->
<html>
    <head>
        <title>
        <?php
            if (defined('TITLE'))
                print TITLE;
            else
                print 'Raise High the Roof Beam! A J.D. Salinger Fan Club';
        ?>
        </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head> 
    <body>
        <div id="wrapper">
            <div id="header">
                <div id="logo">
                    <h1><a href="#">Raise High the Roof Beam</a></h1>
                    <h2>A J.D. Salinger Fan Club</h2>
                </div>
                <div id="menu">
                    <ul>
                        <li class="first current_page_item"><a href="#">Homepage</a></li>
                        <li><a href="books.php">Books</a></li>
                        <li><a href="#">Stories</a></li>
                        <li><a href="#">Quotes</a></li>
                        <li><a href="login.php">Login</a></li>
                        <li class="last"><a href="register.php">Register</a></li>
                    </ul>
                    <br class="clearfix" />
                </div> <!-- menu -->
            </div> <!-- header -->
            <div id="page">
                <div id="content">
                <!-- BEGIN CHANGEABLE CONTENT -->